.game-container {
	max-width:800px;
	margin-top:15px;
	margin: 0 auto;
	overflow: hidden;
}


>>>>>>> 226834d66cddfd8da767169c7afb14dc2fbd5d63
.game-box {
    overflow:hidden;
     text-align: center;
    margin: auto;
    padding: 10px;
    display: inline-block;
}

.game-area {
	width: 75%;
}

.game-state {
	width:25%;
	float: right;
}

.create-form {
	margin: 0 auto;
}

.menu-return {
	clear: both;
}



.game-container h1 {
    color: white;
    font-family: Verdana;
    font-size: 3em;
    background-color: blue;
    box-shadow: 5px 5px 5px black;
    margin: auto;
    display: inline-block;
}



.game-title {
	margin-bottom: 15px;
}


#grid {
	border-collapse: collapse;
    margin-top: 50px;
}

#grid td {
    border: 1px dashed #808080;
    position: relative;
    width: 50px;
    height: 50px;
    cursor: pointer;
	border-radius: 50%;
}


#grid td:hover::after { 
    background-color: rgba(175,168,168,0.5);
    content: '\00a0';  
    height: 10000px;    
    left: 0;
    position: absolute;  
    top: -5000px;
    width: 100%;
    z-index: -1;        
}
/*
#grid td:hover {
    background-color: rgba(175,168,168,0.5);
    content: '';
    height: 300px;
    left: 0;
    position: absolute;
    top: -5000px;
    width: 100%;
    z-index: -1;
}

*/

#grid tr {
    width: 100%;
    height: 100%;
}

